* {
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(225, 100%, 94%);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.image img {
    display: block;
    width: 100%;
}

h1 {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    font-size: 1.4rem;
    margin: 11px 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: white;
    max-width: 77%;
    padding-bottom: 25px;
    border-radius: 16px;
    overflow: hidden;
    gap: 1rem;
    box-shadow: 0.3em 0.3em 1em rgb(192, 195, 206);
}

.order-summary {
    display: grid;
    gap: 1rem;
}

.order-summary p {
    margin-bottom: 10px;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: .95rem;
    line-height: 160%;
    color:  gray;
}

.annual-plan {
    display: flex;
    background-color: rgb(247 243 243);
    border-radius: 10px;
    font-size: .85rem;
    width: 238px;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-around;
    margin-bottom: 5px;
    padding: 5px 0;
}

.annual-plan p:nth-of-type(2) {
    color: gray;
}

.annual-plan-left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.annual-plan-left img {
    display: flex;
    flex-direction: row;
    background-color: rgb(247, 243, 243);
    max-width: 25%;
    
}

.plan-details{
    padding: 10px 10px;
}


.annual-plan-right {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.title{
    font-weight: 700;
    color: hsl(223, 47%, 23%);
}

span{
    font-size: .7rem;
    font-weight: 700;
    text-decoration: underline;
    color: hsl(245, 75%, 52%);
}

span:hover{
    color:  hsla(245, 75%, 52%, 0.733);
}

.checkout {
    background-color: hsl(245, 75%, 52%);
    color: white;
    border: none;
    border-radius: 7px;
    padding: 12px 55px;
    font-size: .80rem;
    font-weight: 700;
    margin-bottom: 5px;
    box-shadow: 0 0.3em 1.4em hsla(245, 80%, 77%, 0.712);
}

.checkout:hover {
    background-color: hsla(245, 75%, 52%, 0.712);
}

.cancel {
    border: none;
    background-color: white;
    font-weight: 900;
    color: gray;
}

.cancel:hover{

    color: hsl(223, 47%, 23%);
}

@media only screen and (min-width: 540px){

    main {
            background-color: hsl(225, 100%, 94%);
            background-image: url('images/pattern-background-desktop.svg');
            background-repeat: no-repeat;
            width: 100%;
            height: 100vh;
            background-size: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
    }

    .container {
       max-width: 350px;
    }
}